<h1><%= "Welcome, #{@user.username}!" %></h1><br><br>
<h3>Friends</h3><br>
<h4>Add Friend</h4>
<%= form_with url: friendships_path, method: :post, local: true do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.submit "Add Friend" %>
<% end %>

<% if @user.friends.present? %>
  <% @user.friends.each do |friend| %>
    <p><%= friend.username %></p>
  <% end %>
<% else %>
  <p>You currently have no friends</p>
<% end %><br>
<%= link_to "Discover Movies", discover_path %>

<section class = "hosting">
  <h3>Parties that I'm Hosting!</h3>
  <% @user.parties.each do |party| %>
    <%= party.movie_title %>
    <%= party.date %>
    <%= party.start_time %>
  <% end %>
</section>
