<%= button_to "Discover Top 40 Movies", movies_path, method: :get, local: true %>

<%= form_with url: search_path, method: :get, local: true do |f| %>
  <%= f.label 'Search by title' %>
  <%= f.text_field :title %>
  <%= f.submit 'Search' %>
<% end %>

<table>
  <% @movies.each do |result| %>
    <tr>
      <td><%= link_to result[:title], movie_path(result[:id]) %></td>
      <td>Vote Average: <%= result[:vote_average] %></td>
    </tr>
  <% end %>
</table>
