<h1><%= "Welcome, #{@user.username}!" %></h1>
<%= link_to "Discover Movies", discover_path %><br><br>
<h4>Add Friend</h4>
<%= form_with url: friendships_path, method: :post, local: true do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.submit "Add Friend" %>
<% end %><br>

<h4>My Friends</h4>
<% if @user.friends.present? %>
  <% @user.friends.each do |friend| %>
    <p><%= friend.username %></p>
  <% end %>
<% else %>
  <h5>You currently have no friends</h5>
<% end %><br>

<section class = "hosting">
  <h3>Parties that I'm Hosting!</h3>
  <% if @user.parties.present? %>
    <% @user.parties.each do |party| %>
    <%= link_to "#{party.movie_title}", movie_path(party.external_movie_id)%><br>
      Date: <%= party.date.strftime("%A, %B %e, %Y") %><br>
      Time: <%= party.start_time.strftime("%I:%M%P") %><br>
      Invited:<br>
      <% if party.invitations.present? %>
        <% party.invitations.each do |invitation| %>
          <%= invitation.guest_name %><br>
        <% end %>
      <% else %>
        <p>No Friends Invited</p>
      <% end %><br>
    <% end %>
  <% else %>
    <h5>You are not hosting any parties.</h5>
  <% end %>
</section><br>

<section class = "invited">
  <h3>Parties that I'm Invited To!</h3>
  <% if @user.invitations.present? %>
    <% @user.invitations.each do |invitation| %>
    <%= link_to "#{invitation.party.movie_title}", movie_path(invitation.party.external_movie_id) %><br>
      Date: <%= invitation.party.date.strftime("%A, %B %e, %Y") %><br>
      Time: <%= invitation.party.start_time.strftime("%I:%M%P") %><br>
      Invited:<br>
      <% invitation.party.invitations.each do |friend| %><br>
        <%= friend.guest_name %><br>
      <% end %>
    <% end %><br>
  <% else %>
    <h5>You are not invited to any parties.</h5>
  <% end %>
</section>
